.sticky_global {
	display: block;

	position: sticky; /* sticky prevents the popup from covering the dynamic year ender */
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483647;

	padding-top: 5px;
	padding-bottom: 5px;

	text-decoration: none;
	font-weight: bold;

	background: blue;
}

.sticky_bar_heading_wrapper {
	text-align: center;
	border-bottom: 1px solid #fff;
}

.sticky_bar_heading_box {
	margin-top: 0 !important;
	margin-bottom: 0 !important;

	font-size: 24px;
	color: #fff;
}

.sticky_global_any_contact_box {
	display: block;

	margin-top: 10px;
	margin-bottom: 10px;

	text-align: center;
}

.voip_wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
}

.voip_link {
	display: inline-block;
	transition: none !important;
	box-shadow: none !important;
	text-decoration: none !important;
	color: #fff;
}

.voip_icon {
	display: inline;
	vertical-align: middle;

	width: var(--minoris);
	height: var(--minoris);
	max-width: var(--minoris);
	max-height: var(--minoris);

	margin-right: 5px;
}

.voip_text {
	display: inline;
	vertical-align: middle;
}

.globalrs_dynamic_year {
	padding-bottom: var(--majoris);
	font-weight: bold;
	color: #fff;
}

@media screen and (min-width: 999px) {

	.sticky_global_any_contact_box {
		display: flex;
		justify-content: space-around;
		align-items: center;

		margin-top: 0;
		margin-bottom: 0;
	}

	.voip_icon {
		width: var(--majoris);
		height: var(--majoris);
		max-width: var(--majoris);
		max-height: var(--majoris);
	}

	.voip_link {
		height: var(--majoris);
		max-height: var(--majoris);
	}

	.voip_link:hover {
		color: #000;
	}

}
