:root {

	/* basic colors */

	--primaryColor: dodgerblue;
	--secondaryColor: linen;
	--actionColor: darkorange;
	--exceptionColor: yellow;

	/* Black, Gray, White */

	--blackColor: black;
	--greyColor: whitesmoke;
	--whiteColor: white;
	
	/* basic fonts */

	--primaryFont: arial;
	--secondaryFont: Tahoma;
	--actionFont: alef;
	--exceptionalFont: monospace;

	/* general spacing */

	--minoris: 25px;
	--majoris: 50px;

	/* contact widget and dynamic year ender spacing */

	--contactWidget: 50px;
	--dynamicYear: 100px;

}
